* {
    margin: 0;
    padding: 0;
}
body {
    background: white url("../pictures/Dino.png");
    padding: 3%;

}
ul,li{
    background: white;
}
h1 {
    margin-bottom: 0.5rem;
    color: red;
    font-family: Arial, sans-serif;

}